<div (click)="price()">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoeEQYpJAwARXmZz_nCxn9uBQo46xxzWBqzg&usqp=CAU" alt="Meat">
  <h3>{{meat}}</h3>
  <button (click)="onDell($event)">delete</button>
</div>

<div (click)="price()">
  <img src="https://xcook.info/wp-content/cache/thumb/b4/be88e97c59436b4_750x375.jpg" alt="Cheese">
  <h3>{{cheese}}</h3>
  <button (click)="onDell($event)">delete</button>
</div>

<div (click)="price()">
  <img src="https://topshoptvuaru.azureedge.net/media/article/image/cache/580x436/a/-/a-27799.jpg" alt="Salad">
  <h3>{{salad}}</h3>
  <button (click)="onDell($event)">delete</button>
</div>

<div (click)="price()">
  <img src="https://grandkulinar.ru/uploads/posts/2017-07/1501227667_chto-zavernut-v-bekon.jpg" alt="Bacon">
  <h3>{{bacon}}</h3>
  <button (click)="onDell($event)">delete</button>
</div>
