<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Burger</title>
</head>
<body>
<form>
  <fieldset>
    <legend>Ingredients</legend>
<app-ingredients
  *ngFor="let burger of burgerMass; let i = index"
  [meat]="burger"
 
  (delete)="onDeleteIngredient(i)"

></app-ingredients>
  </fieldset>
</form>

<form>
  <fieldset>
    <legend>Burger</legend>
    <div class="Burger">
      <div class="BreadTop">
        <div class="Seeds1"></div>
        <div class="Seeds2"></div>
      </div>
      <div class="Salad"></div>
      <div class="Cheese"></div>
      <div class="Meat"></div>
      <div class="Bacon"></div>
      <div class="BreadBottom"></div>
    </div>
  </fieldset>
</form>
</body>
</html>

